<div id="colorlib-subscribe" style="background-image: url(../../../Content/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center colorlib-heading animate-box">
                <h2><b>About Us</b></h2>
                <h2>Nguyễn Công Chính</h2>
                <h2>Vũ Thành Long</h2>
            </div>
        </div>
    </div>
</div>
